CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_phicomm_k2p=y
# CONFIG_DRIVER_11AC_SUPPORT is not set
# CONFIG_DRIVER_11N_SUPPORT is not set
# CONFIG_DRIVER_11W_SUPPORT is not set
CONFIG_LIBCURL_COOKIES=y
CONFIG_LIBCURL_FILE=y
CONFIG_LIBCURL_FTP=y
CONFIG_LIBCURL_HTTP=y
CONFIG_LIBCURL_NO_SMB="!"
CONFIG_LIBCURL_OPENSSL=y
CONFIG_LIBCURL_PROXY=y
CONFIG_MT7603E_APCLI_SUPPORT=y
CONFIG_MT7603E_ATE_SUPPORT=y
CONFIG_MT7603E_DOT11N_DRAFT3=y
CONFIG_MT7603E_DOT11W_PMF_SUPPORT=y
CONFIG_MT7603E_FIRST_IF_EEPROM_FLASH=y
CONFIG_MT7603E_FIRST_IF_MT7603E=y
CONFIG_MT7603E_LLTD_SUPPORT=y
CONFIG_MT7603E_MAC_REPEATER_SUPPORT=y
CONFIG_MT7603E_MBSS_SUPPORT=y
CONFIG_MT7603E_MT_MAC=y
CONFIG_MT7603E_MT_NEW_RATE_ADAPT_SUPPORT=y
CONFIG_MT7603E_MT_WIFI_MODE_AP=y
CONFIG_MT7603E_MT_WIFI_PATH="rlt_wifi"
CONFIG_MT7603E_MULTI_APCLI_SUPPORT=y
CONFIG_MT7603E_MULTI_INF_SUPPORT=y
CONFIG_MT7603E_NEW_BW2040_COEXIST_SUPPORT=y
CONFIG_MT7603E_NEW_RATE_ADAPT_SUPPORT=y
CONFIG_MT7603E_RALINK_MT7603E=y
CONFIG_MT7603E_RLT_AP_SUPPORT=y
CONFIG_MT7603E_RLT_WIFI=y
CONFIG_MT7603E_RT2860V2_AP_V24_DATA_STRUCTURE=y
CONFIG_MT7603E_RTMP_FLASH_SUPPORT=y
CONFIG_MT7603E_RTMP_PCI_SUPPORT=y
CONFIG_MT7603E_RT_FIRST_CARD_EEPROM="flash"
CONFIG_MT7603E_UAPSD=y
CONFIG_MT7603E_WSC_INCLUDED=y
CONFIG_MT76X2E_AP_80211AC_VHT=y
CONFIG_MT76X2E_AP_APCLI=y
CONFIG_MT76X2E_AP_LED=y
CONFIG_MT76X2E_AP_LLTD=y
CONFIG_MT76X2E_AP_MBSS=y
CONFIG_MT76X2E_AP_MBSS_NEW_MBSSID_MODE=y
CONFIG_MT76X2E_AP_WDS=y
CONFIG_MT76X2E_RT_FIRST_CARD=7603
CONFIG_MT76X2E_RT_SECOND_CARD=7612
CONFIG_MT76X2E_RT_SECOND_IF_MT7612E=y
CONFIG_MTK_CHIP_MT7603E_MT7612E=y
# CONFIG_MTK_CHIP_MT7615E is not set
CONFIG_OPENVPN_openssl_ENABLE_DEF_AUTH=y
CONFIG_OPENVPN_openssl_ENABLE_FRAGMENT=y
CONFIG_OPENVPN_openssl_ENABLE_LZ4=y
CONFIG_OPENVPN_openssl_ENABLE_MULTIHOME=y
CONFIG_OPENVPN_openssl_ENABLE_PF=y
CONFIG_OPENVPN_openssl_ENABLE_PORT_SHARE=y
CONFIG_OPENVPN_openssl_ENABLE_SMALL=y
CONFIG_PACKAGE_ahcpd=y
CONFIG_PACKAGE_bash=y
CONFIG_PACKAGE_bird1-ipv4=y
CONFIG_PACKAGE_bird1-ipv4-uci=y
CONFIG_PACKAGE_bird1-ipv6=y
CONFIG_PACKAGE_bird1-ipv6-uci=y
CONFIG_PACKAGE_ca-bundle=y
CONFIG_PACKAGE_coreutils-nohup=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_kmod-mt7603e=y
# CONFIG_PACKAGE_kmod-mt7615d is not set
# CONFIG_PACKAGE_kmod-mt7615d_dbdc is not set
CONFIG_PACKAGE_kmod-mt76x2e=y
CONFIG_PACKAGE_kmod-nls-base=y
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_kmod-usb-core=y
CONFIG_PACKAGE_kmod-usb-ledtrig-usbport=y
CONFIG_PACKAGE_kmod-usb3=y
CONFIG_PACKAGE_libcurl=y
CONFIG_PACKAGE_luci-app-adguardhome=y
CONFIG_PACKAGE_luci-app-advanced-reboot=y
CONFIG_PACKAGE_luci-app-ahcp=y
CONFIG_PACKAGE_luci-app-bird1-ipv4=y
CONFIG_PACKAGE_luci-app-bird1-ipv6=y
CONFIG_PACKAGE_luci-app-clash=y
CONFIG_PACKAGE_luci-app-commands=y
CONFIG_PACKAGE_luci-app-mtwifi=y
CONFIG_PACKAGE_luci-app-openvpn=y
CONFIG_PACKAGE_luci-app-openvpn-server=y
CONFIG_PACKAGE_luci-i18n-advanced-reboot-zh-cn=y
CONFIG_PACKAGE_luci-i18n-ahcp-zh-cn=y
CONFIG_PACKAGE_luci-i18n-commands-zh-cn=y
CONFIG_PACKAGE_luci-i18n-openvpn-server-zh-cn=y
CONFIG_PACKAGE_luci-i18n-openvpn-zh-cn=y
CONFIG_PACKAGE_luci-theme-argon_new=y
# CONFIG_PACKAGE_maccalc is not set
CONFIG_PACKAGE_mt_wifi=y
CONFIG_PACKAGE_openvpn-easy-rsa=y
CONFIG_PACKAGE_openvpn-openssl=y
CONFIG_PACKAGE_wireless-tools=y
# CONFIG_TARGET_ROOTFS_INITRAMFS is not set
